{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form>
  {{ render_csrf() }}

  <roles-field users-endpoint="{{ url_for('api.select_users') }}"
               :user-request-params="{resource_type: 'group', resource_id: {{ group.id }}}"
               :field="{{ members_form.roles }}">
  </roles-field>
  <div class="d-flex justify-content-between">
    <submit-field :field="{{ members_form.submit }}"></submit-field>
    <roles-popover :roles="{{ get_object_roles('group') | tojson_escaped }}"></roles-popover>
  </div>
</submission-form>
<hr>
<resource-roles-editor title="{% trans %}Members{% endtrans %}"
                       placeholder="{% trans %}No members.{% endtrans %}"
                       endpoint="{{ url_for('api.get_group_members', id=group.id, exclude=[group.user_id]) }}"
                       :roles="{{ get_object_roles('group') | tojson_escaped }}"
                       :per-page="10">
</resource-roles-editor>
