{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "sysadmin/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("sysadmin.manage_users"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "sysadmin/snippets/menu.html" %}

    <nav-tabs :tabs="['manage' {% if local_provider_registered %}, 'register'{% endif %}]">
      <template #manage-head>
        {% trans %}Manage users{% endtrans %}
      </template>
      <template #manage-body>
        {% include "sysadmin/snippets/users_manage.html" %}
      </template>

      {% if local_provider_registered %}
        <template #register-head>
          {% trans %}Register local user{% endtrans %}
        </template>
        <template #register-body>
          {% include "sysadmin/snippets/users_register.html" %}
        </template>
      {% endif %}
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data: {
        active: false,
        sysadmins: false,
      },
      methods: {
        changeRole(user) {
          this.$set(user, 'disabled', true);

          axios.patch(user._actions.change_role, {name: user.system_role})
            .then(() => kadi.base.flashSuccess('{{ _("Role changed successfully.") }}', {scrollTo: false}))
            .catch((error) => kadi.base.flashDanger('{{ _("Error changing role.") }}', {request: error.request}))
            .finally(() => user.disabled = false);
        },
        toggleProperty(user, sysadmin) {
          this.$set(user, 'disabled', true);

          axios.patch(sysadmin ? user._actions.toggle_sysadmin : user._actions.toggle_state)
            .then(() => {
              this.$refs.pagination.update();
              kadi.base.flashSuccess('{{ _("State changed successfully.") }}', {scrollTo: false});
            })
            .catch((error) => kadi.base.flashDanger('{{ _("Error changing state.") }}', {request: error.request}))
            .finally(() => user.disabled = false);
        },
        deleteUser(user) {
          // We use i18next here so we can include the username in the translation, but we need to work around Jinja's
          // interpolation and ESLint.
          /* eslint-disable max-len *//* {% raw %} */
          const promptMsg = $t(
            'Are you sure you want to delete the user "{{username}}" and their created resources? Please enter the username to confirm:',
            {username: user.identity.username},
          );
          /* eslint-enable max-len *//* {% endraw %} */

          const input = prompt(promptMsg, '');

          if (input !== user.identity.username) {
            return;
          }

          this.$set(user, 'disabled', true);

          axios.delete(user._actions.delete)
            .then(() => {
              this.$refs.pagination.update();
              kadi.base.flashSuccess('{{ _("User deleted successfully.") }}', {scrollTo: false});
            })
            .catch((error) => {
              kadi.base.flashDanger('{{ _("Error deleting user.") }}', {request: error.request});
              user.disabled = false;
            });
        },
      },
    });
  </script>
{% endblock %}
