{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "sysadmin/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("sysadmin.manage_config"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "sysadmin/snippets/menu.html" %}

    <nav-tabs :tabs="['customization', 'legals', 'misc']">
      <template #customization-head>
        {% trans %}Customization{% endtrans %}
      </template>
      <template #customization-body>
        {% include "sysadmin/snippets/config_customization.html" %}
      </template>
      <template #legals-head>
        {% trans %}Legals{% endtrans %}
      </template>
      <template #legals-body>
        {% include "sysadmin/snippets/config_legals.html" %}
      </template>
      <template #misc-head>
        {% trans %}Miscellaneous{% endtrans %}
      </template>
      <template #misc-body>
        {% include "sysadmin/snippets/config_misc.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data: {
        removeImage: false,
      },
    });
  </script>
{% endblock %}
