{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <strong>{% trans %}Account inactive{% endtrans %}</strong>
    </div>
    <div class="card-body">
      {% trans %}This account is currently inactive.{% endtrans %}
      {% trans %}
        If your account was created recently, a system administrator may need to activate it first. Otherwise, your
        account may have been disabled.
      {% endtrans %}
    </div>
  </div>
{% endblock %}
