{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "settings/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("settings.manage_personal_tokens"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "settings/snippets/menu.html" %}

    <nav-tabs :tabs="['create', 'manage']">
      <template #create-head>
        {% trans %}Create token{% endtrans %}
      </template>
      <template #create-body>
        {% include "settings/snippets/tokens_create.html" %}
      </template>
      <template #manage-head>
        {% trans %}Manage tokens{% endtrans %}
      </template>
      <template #manage-body>
        {% include "settings/snippets/tokens_manage.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        removeToken(token) {
          if (!window.confirm('{{ _("Are you sure you want to remove this token?") }}')) {
            return;
          }

          this.$set(token, 'disabled', true);

          axios.delete(token._actions.remove)
            .then(() => {
              this.$refs.pagination.update();
              kadi.base.flashSuccess('{{ _("Token removed successfully.") }}', {scrollTo: false});
            })
            .catch((error) => {
              kadi.base.flashDanger('{{ _("Error removing token.") }}', {request: error.request});
              token.disabled = false;
            });
        },
      },
    });
  </script>
{% endblock %}
