{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_link_base.html" %}

{% set can_update_link = has_permission(current_user, "link", "record", record_link.record_from_id)
                         and has_permission(current_user, "link", "record", record_link.record_to_id) %}

{% block content %}
  {% snippet "records/snippets/back_to_record.html", record=record, tab="links" %}

  <div class="card">
    <div class="card-body">
      <a href="{{ url_for('records.edit_record_link', record_id=record.id, link_id=record_link.id) }}"
         class="btn btn-sm btn-primary my-1{% if not can_update_link %} disabled{% endif %}">
        <i class="fa-solid fa-pencil"></i> {% trans %}Edit link{% endtrans %}
      </a>
      <hr>
      <p>
        <small class="text-muted">{% trans %}Persistent ID:{% endtrans %} {{ record_link.id }}</small>
      </p>
      <div class="row">
        <div class="col-lg-4">
          {% snippet "records/snippets/linked_record.html",
                     record=record_link.record_from,
                     current_record=record,
                     changes=record_changes[record_link.record_from_id] %}
        </div>
        <div class="col-lg-4 d-flex flex-column align-self-center text-center my-4 my-lg-0">
          <i class="fa-solid fa-arrow-right-long fa-xl mb-2"></i>
          <br>
          <strong>
            <em class="wb-break-all">{{ record_link.name }}</em>
          </strong>
          {% if record_link.term %}
            <br>
            <a href="{{ record_link.term }}" target="_blank" rel="noopener noreferrer">
              <small>
                <i class="fa-solid fa-arrow-up-right-from-square mr-1"></i>
                <strong>{{ record_link.term }}</strong>
              </small>
            </a>
          {% endif %}
        </div>
        <div class="col-lg-4">
          {% snippet "records/snippets/linked_record.html",
                     record=record_link.record_to,
                     current_record=record,
                     changes=record_changes[record_link.record_to_id] %}
        </div>
      </div>
      <hr>

      {% snippet "snippets/resources/creation_info.html", resource=record_link %}
    </div>
  </div>
{% endblock %}
