{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{# ORCID is a registered trademark and the ORCID logo and iD icon are trademarks of ORCID, Inc. #}

<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 5.2916666 5.2916669">
  <g transform="matrix(0.83582906,0,0,0.83582905,-0.02319032,-0.01224761)">
    <path fill="#A6CE39" d="m 6.3587847,3.1801731 c 0,1.7484553 -1.417065,3.1655197 -3.1655196,3.1655197 -1.7484553,0 -3.16551981,-1.4170644 -3.16551981,-3.1655197 0,-1.7484549 1.41706451,-3.16551985 3.16551981,-3.16551985 1.7484546,0 3.1655196,1.41706495 3.1655196,3.16551985 z"/>
    <g transform="matrix(0.02473062,0,0,0.02473062,0.02774529,0.01465325)">
      <path fill="#FFFFFF" d="M 86.3,186.2 H 70.9 V 79.1 h 15.4 v 48.4 z"/>
      <path fill="#FFFFFF" d="m 108.9,79.1 h 41.6 c 39.6,0 57,28.3 57,53.6 0,27.5 -21.5,53.6 -56.8,53.6 h -41.8 z m 15.4,93.3 h 24.5 c 34.9,0 42.9,-26.5 42.9,-39.7 C 191.7,111.2 178,93 148,93 h -23.7 z"/>
      <path fill="#FFFFFF" d="m 88.7,56.8 c 0,5.5 -4.5,10.1 -10.1,10.1 -5.6,0 -10.1,-4.6 -10.1,-10.1 0,-5.6 4.5,-10.1 10.1,-10.1 5.6,0 10.1,4.6 10.1,10.1 z"/>
    </g>
  </g>
</svg>
