{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form>
  {{ render_csrf() }}

  <markdown-field :field="{{ legals_form.terms_of_use }}" :rows="5"></markdown-field>
  <markdown-field :field="{{ legals_form.privacy_policy }}" :rows="5"></markdown-field>
  <checkbox-field :field="{{ legals_form.enforce_legals }}"></checkbox-field>
  <markdown-field :field="{{ legals_form.legal_notice }}" :rows="5"></markdown-field>
  <submit-field :field="{{ legals_form.submit }}"></submit-field>
</submission-form>
