{# Copyright 2023 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<dynamic-pagination endpoint="{{ url_for('api.get_users') }}"
                    placeholder="{% trans %}No users.{% endtrans %}"
                    :args="{inactive: !active, sysadmins}"
                    :per-page="5"
                    :enable-filter="true"
                    ref="pagination">
  <template #default="props">
    <div class="mb-2 d-flex justify-content-between align-items-center">
      <div>
        <strong>{% trans %}Users{% endtrans %}</strong>
        <span class="badge badge-pill badge-light text-muted border border-muted">{$ props.total $}</span>
      </div>
      <popover-toggle title="{% trans %}System roles{% endtrans %}" toggle-class="btn btn-sm btn-light">
        <template #toggle>
          <i class="fa-solid fa-circle-info"></i> {% trans %}System roles{% endtrans %}
        </template>
        <template #content>
          <div class="row">
            <div class="col-md-4">
              <strong>Admin</strong>
            </div>
            <div class="col-md-8">{% trans %}Can manage any resource.{% endtrans %}</div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Member</strong>
            </div>
            <div class="col-md-8">{% trans %}Can create new resources.{% endtrans %}</div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Guest</strong>
            </div>
            <div class="col-md-8">{% trans %}Read only access.{% endtrans %}</div>
          </div>
        </template>
      </popover-toggle>
    </div>
    <div v-if="props.total > 0">
      <small class="text-muted">
        <i class="fa-solid fa-circle-info"></i>
        {% trans %}Note that it may take a little while for a user to be completely deleted.{% endtrans %}
      </small>
      <ul class="list-group">
        <li class="list-group-item bg-light py-2">
          <div class="row align-items-center">
            <div class="col-xl-2">{% trans %}User{% endtrans %}</div>
            <div class="col-xl-3">{% trans %}Email{% endtrans %}</div>
            <div class="col-xl-2">{% trans %}System role{% endtrans %}</div>
            <div class="col-xl-2 d-flex align-self-center">
              <div class="form-check">
                <input type="checkbox" id="active" class="form-check-input" v-model="active">
                <label class="form-check-label" for="active">{% trans %}Active only{% endtrans %}</label>
              </div>
            </div>
            <div class="col-xl-2 d-flex align-self-center">
              <div class="form-check">
                <input type="checkbox" id="sysadmins" class="form-check-input" v-model="sysadmins">
                <label class="form-check-label" for="sysadmins">{% trans %}Sysadmins only{% endtrans %}</label>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item py-2" v-for="user in props.items" :key="user.id">
          <div class="row align-items-center">
            <div class="col-xl-2 mb-2 mb-xl-0">
              <identity-popover :user="user"></identity-popover>
              <br>
              <small>@{$ user.identity.username $}</small>
            </div>
            <div class="col-xl-3 mb-2 mb-xl-0">
              <a :href="`mailto:${user.identity.email}`">
                <strong>{$ user.identity.email $}</strong>
              </a>
              <span class="badge badge-light border border-muted font-weight-normal"
                    v-if="user.identity.email_confirmed">
                {% trans %}Confirmed{% endtrans %}
              </span>
            </div>
            <div class="col-xl-2 mb-2 mb-xl-0">
              <select class="custom-select custom-select-sm"
                      v-model="user.system_role"
                      :disabled="user.disabled"
                      @change="changeRole(user)">
                {% for role in sorted(list(const.SYSTEM_ROLES)) %}
                  <option value="{{ role }}">{{ role | capitalize }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-xl-2 mb-2 mb-xl-0">
              <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       :id="`${user.id}_state`"
                       :disabled="user.disabled || user.id === {{ current_user.id }}"
                       v-model="user.state === 'active'"
                       @change="toggleProperty(user, false)">
                <label class="form-check-label" :for="`${user.id}_state`">
                  {% trans %}Active{% endtrans %}
                </label>
              </div>
            </div>
            <div class="col-xl-2 mb-2 mb-xl-0">
              <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       :id="`${user.id}_sysadmin`"
                       :disabled="user.disabled || user.id === {{ current_user.id }}"
                       v-model="user.is_sysadmin"
                       @change="toggleProperty(user, true)">
                <label class="form-check-label" :for="`${user.id}_sysadmin`">
                  {% trans %}Sysadmin{% endtrans %}
                </label>
              </div>
            </div>
            <div class="col-xl-1 d-xl-flex justify-content-end">
              <button type="button"
                      class="btn btn-sm btn-danger"
                      title="{% trans %}Delete user{% endtrans %}"
                      :disabled="user.disabled || user.id === {{ current_user.id }}"
                      @click="deleteUser(user)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </template>
</dynamic-pagination>
