{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form>
  {{ render_csrf() }}

  <record-links-field records-endpoint="{{ url_for('api.select_records', action='link', exclude=record.id) }}"
                      names-endpoint="{{ url_for('api.select_link_names') }}"
                      {% if has_capabilities("term_search") %}
                        terms-endpoint="{{ url_for('api.get_terms') }}"
                      {% endif %}
                      current-record-identifier="{{ record.identifier }}"
                      :field="{{ record_form.record_links }}">
  </record-links-field>
  <submit-field :field="{{ record_form.submit }}"></submit-field>
</submission-form>
<hr>
<record-links-editor endpoint="{{ url_for('api.get_record_links', id=record.id, action='link', direction='out') }}"
                     title="{% trans %}Outgoing record links{% endtrans %}"
                     direction="out">
</record-links-editor>
<hr>
<record-links-editor endpoint="{{ url_for('api.get_record_links', id=record.id, action='link', direction='in') }}"
                     title="{% trans %}Incoming record links{% endtrans %}"
                     direction="in">
</record-links-editor>
