{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_update_record = has_permission(current_user, "update", "record", record.id) %}

<div class="d-flex justify-content-between">
  <a href="{{ url_for('records.add_files', id=record.id) }}"
     class="btn btn-sm btn-primary my-1{% if not can_update_record %} disabled{% endif %}">
    <i class="fa-solid fa-file"></i> {% trans %}Add files{% endtrans %}
  </a>
  <a href="{{ url_for('api.download_files', id=record.id) }}"
     class="btn btn-sm btn-light my-1{% if record.active_files.count() == 0 %} disabled{% endif %}">
    <i class="fa-solid fa-download"></i> {% trans %}Download all{% endtrans %}
  </a>
</div>
<hr>
<dynamic-pagination endpoint="{{ url_for('api.get_files', id=record.id) }}"
                    placeholder="{% trans %}No files.{% endtrans %}"
                    :args="{'sort': sortFiles}"
                    :enable-filter="true"
                    :per-page="5"
                    ref="filesPagination">
  <template #default="props">
    <div class="row align-items-center mb-3">
      <div class="col-md-7 mb-2" :class="{'mb-md-0': props.totalUnfiltered === 0}">
        <strong>{% trans %}Files{% endtrans %}</strong>
        <span class="badge badge-pill badge-light text-muted border border-muted">{$ props.total $}</span>
      </div>
      <div class="col-md-5">
        <div class="input-group input-group-sm" v-if="props.totalUnfiltered > 0">
          <div class="input-group-prepend">
            <label class="input-group-text" for="sort-files">{% trans %}Sort by{% endtrans %}</label>
          </div>
          <select id="sort-files" class="custom-select" v-model="sortFiles">
            <option v-for="option in sortFileOptions" :key="option[0]" :value="option[0]">{$ option[1] $}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card card-action mb-3" v-for="(file, index) in props.items" :key="file.id">
      <a :href="file._links.view">
        <div class="card-body py-3">
          <div class="form-row align-items-center">
            <div class="col-lg-8 mb-2 mb-lg-0">
              <strong class="mr-2">{$ file.name $}</strong>
              <span class="badge badge-light badge-mt-minus border border-muted font-weight-normal"
                    :title="file.mimetype">
                {$ file.mimetype | truncate(50) $}
              </span>
            </div>
            <div class="col-lg-2">
              <span class="text-muted">
                {% trans %}Storage type:{% endtrans %} <strong>{$ file.storage.storage_name $}</strong>
              </span>
            </div>
            <div class="col-lg-2 d-lg-flex justify-content-end">
              <small class="text-muted">
                <strong>{$ file.size | filesize $}</strong>
              </small>
            </div>
          </div>
        </div>
      </a>
      <div class="card-footer py-1">
        <div class="form-row align-items-end">
          <div class="col-lg-6 mb-2 mb-lg-0">
            <small class="text-muted">
              {% trans %}Last modified{% endtrans %} <from-now :timestamp="file.last_modified"></from-now>
            </small>
          </div>
          <div class="col-lg-6 d-lg-flex justify-content-end">
            <a class="btn btn-sm btn-link text-primary p-0 mr-4 mr-xl-5 d-block d-lg-inline text-left"
               :href="file._links.edit_metadata"
               v-if="file._links.edit_metadata">
              <i class="fa-solid fa-pencil"></i> {% trans %}Edit file{% endtrans %}
            </a>
            <a class="btn btn-sm btn-link text-primary p-0 mr-4 mr-xl-5 d-block d-lg-inline text-left"
               :href="file._links.update_data"
               v-if="file._links.update_data">
              <i class="fa-solid fa-upload"></i> {% trans %}Update data{% endtrans %}
            </a>
            <button type="button"
                    class="btn btn-sm btn-link text-primary p-0 mr-4 mr-xl-5 d-block d-lg-inline"
                    :disabled="file.disabled"
                    @click="deleteFile(file)"
                    v-if="file._actions.delete">
              <i class="fa-solid fa-trash"></i> {% trans %}Delete{% endtrans %}
            </button>
            <a class="btn btn-sm btn-link text-primary p-0" :href="file._links.download">
              <i class="fa-solid fa-download"></i> {% trans %}Download{% endtrans %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </template>
</dynamic-pagination>
